* {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

/* common styles */
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.6rem;
    padding: 1rem 2.18rem;
    border: 0;
    border-radius: 5px;
}

/* nav bar styles */
nav {
    display: flex;
    padding: 3.125rem 14.375rem;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 3.8rem;
    text-align: left;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding-left: 3.18rem;
    padding-top: 1.125rem;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}


/* header styles */
.header{
    background-color: rgb(255, 248, 243);
}

.banner{
    padding: 1.875rem 1.875rem 1.875rem 9.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-pic{
    width: 31.25rem;
}