* {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

/* common styles */
.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.6rem;
    padding: 1rem 2.18rem;
    border: 0;
    border-radius: 5px;
}

.primary-header {
    color: rgb(24, 24, 24);
    font-size: 2.188rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;
}

.primary-text {
    color: rgb(117, 117, 117);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: center;
    padding: 1.875rem 0rem;
}

/* nav bar styles */
nav {
    display: flex;
    padding: 3.125rem 14.375rem;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 3.8rem;
    text-align: left;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding-left: 3.18rem;
    padding-top: 1.125rem;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}


/* header styles */
.header {
    background-color: rgb(255, 248, 243);
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 1.875rem 1.875rem 0rem 14.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    width: 36.5rem;
}

.banner-greeting {
    font-size: 2.813rem;
    font-weight: 600;
    color: #474747;
}

.banner-title {
    font-size: 5.3rem;
    font-weight: 700;
}

.banner-description {
    font-size: 1.125rem;
    padding: 1.35rem 0rem;
}

.banner-pic {
    width: 31.25rem;
}


/* main section styles */
main {
    max-width: 1140px;
    /* margin: 8.125rem 14.375rem; */
    margin: 0 auto;
    padding: 8.125rem 0rem;
}

/* about section */
.about-me {
    padding: 8.18rem 9.75rem;
    background-color: rgb(255, 248, 243);
}

.about-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.about-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
    color: #757575;
    margin-bottom: 0.5rem;
}

.about-info{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
}

/* work section */


/* experience section */


/* social section */